@media (max-width: 850px) {
  h3 {
    font-size: 14px !important;
  }
  header {
    h1 {
      font-size: 1.35em;
    }
    address {
      b {
        display: none;
      }
      i {
        font-size: 0.7em;
      }
    }
  }

  #education {
    .name {
      font-size: 0.75em;
    }
  }
  #certificates {
    .name-c {
      font-size: 0.54em;
    }
  }
  #experience {
    .date {
      font-size: 0.5em;
      opacity: 0.7;
    }
    .name {
      font-size: 0.56rem;
    }
    .city {
      font-size: 0.8em;
    }
    .position {
      font-size: 0.55em;
    }
    .description {
      font-size: 0.7rem;
    }
    .canpack {
      width: 35%;
    }
    .biziel {
      width: 58%;
    }
    .iiukw {
      width: 42%;
    }
    .bassi {
      width: 50%;
    }
    .bassm {
      width: 100%;
    }
  }
  #skills {
    ul {
      li {
        font-size: 0.7em;
      }
    }
  }
  #language {
    ul {
      li {
        font-size: 0.55rem;
      }
    }
  }
  #interests {
    ul {
      li {
        font-size: 0.55em;
      }
    }
  }
}
